/* .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    height: 150px;
    cursor: pointer;
    background-image: url("http://www.learningaboutelectronics.com/images/Upload-photo-image.png");
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
} */